:root {
  --clr-neon: hsl(244, 100%, 54%);
  --clr-white-neon: white;
  --darkblue: #010211;
  --clr-bg: hsl(0, 0%, 100%);
}

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Forum&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

.josefin-sans-100 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.playfair-display-rsvp {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.bodoni-moda-rsvp {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.forum-regular {
  font-family: "Forum", system-ui;
  font-weight: 400;
  font-style: normal;
}

@keyframes move-clouds {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: 10% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-image: url("./img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

@keyframes neon-border {
  0%,
  100% {
    box-shadow: 0 0 5px white, 0 0 15px white, 0 0 25px rgba(255, 255, 255, 0.5),
      0 0 35px rgba(255, 255, 255, 0.2);
    border-color: white;
  }
  20% {
    box-shadow: 0 0 8px white, 0 0 18px white, 0 0 28px rgba(255, 255, 255, 0.6),
      0 0 38px rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.6);
  }
  40% {
    box-shadow: 0 0 12px white, 0 0 22px white,
      0 0 32px rgba(255, 255, 255, 0.7), 0 0 42px rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.7);
  }
  60% {
    box-shadow: 0 0 18px white, 0 0 28px white,
      0 0 38px rgba(255, 255, 255, 0.8), 0 0 48px rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.8);
  }
  80% {
    box-shadow: 0 0 12px white, 0 0 22px white,
      0 0 32px rgba(255, 255, 255, 0.7), 0 0 42px rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.7);
  }
}

.notification {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  display: none;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.notification h6 {
  font-size: 1.1rem;
  color: var(--darkblue);
}

.notification img {
  margin: 0px 0 3px 10px;
  width: 30px;
  height: 30px;
}
.cardWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  min-width: 340px;
  max-width: 600px;
  height: 78vh;
  min-height: 480px;
  max-height: 745px;
  cursor: pointer;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1.2s ease-out;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0 0 15px white, 0 0 25px white, 0 0 35px white;
  animation: neon-border 4s infinite ease-in-out;
}

.front {
  background-image: url("./img/bg-front.png");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.front .announce {
  margin: 6vh 0 0 0;
  line-height: 1.5;
}

.front .announce h6 {
  font-size: 1.1em;
  margin: 1.7vh 0;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
}

.front .bride-name img {
  max-width: 100%;
  width: 74%;
  margin: 10px 0;
}

.front .date {
  font-size: 1.6em;
  margin: 3.5vh 0 2vh 0;
  font-weight: 100;
}

.front .illustration {
  display: flex;
  width: fit-content;
  justify-content: center;
  margin: -120px 0 0px 0;
  z-index: -1;
}

.front .illustration img {
  max-width: 57%;
  height: auto;
  display: block;
  margin: 1vh 20px 0 0;
}

.front .divider {
  position: absolute;
  left: 0;
  width: 100%;
  border: 0 0 1px 0;
  margin: 0;
  border-color: white;
}
.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5vh 0 0 0;
}

.answer img {
  width: 40px;
  height: auto;
  animation: moveArrow 3s ease-in-out infinite;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.answer-btn {
  font-family: "Montserrat", sans-serif !important;
  font-family: "Oswald", sans-serif;
  margin: 0 15px 0 0;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  background: none;
  color: white;
  font-size: 1.2em;
}
/*--------------------- BACK CARD--------------------- */

.back {
  background-image: url("./img/verso-desktop.png");
  background-image: url("./img/bg-with-moon-desktop.png");
  transform: rotateY(180deg);
  border-color: white;
  background-size: cover;
  background-position-y: 55%;
  background-position-x: 55%;
  animation: neon-border 10s infinite ease-in-out;
  box-shadow: 0 0 25px white, 0 0 0px white, 0 0 30px white;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #252a70 rgb(255, 255, 255);
  scrollbar-width: thin;
  /* background animation */
  -webkit-animation: slidein 80s;
  animation: slidein 30s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  font-family: "forum", "system-ui";
  margin-top: 0;
  padding-top: 0;
}

@-webkit-keyframes slidein {
  from {
    background-position: top right;
    background-size: 100%;
  }
  to {
    background-position: -100px 0px;
    background-size: 90%;
  }
}

@keyframes slidein {
  from {
    background-position: top right;
  }
  to {
    background-position: -100px 0px;
  }
}

/*---------------------- CLOSE BTN ----------------------*/
.close-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 0;
  width: 40px;
  height: 20px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 100;
  cursor: pointer;
  outline: none;
  line-height: 1;
  transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.close-btn:hover {
  color: #040892;
  text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff,
    0 0 5px #ffffff;
}

.close-btn:focus {
  outline: none;
}

/*--------------------------- FORM--------------------------- */
form {
  width: fit-content;
  height: auto;
  max-height: fit-content;
  margin: 0 auto;
  padding: 50px;
}

.header-rsvp {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: var(--darkblue);
  background-color: #03030c;
  background-color: transparent;
  backdrop-filter: blur(20px);
  z-index: 10;
}

h1 {
  color: white;
  margin: auto;
  letter-spacing: 2px;
}

.form-group {
  margin: 3em 0;
}

label {
  font-size: 1.2em;
  margin-bottom: 0.4em;
  color: white;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.6rem 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  font-size: 0.95rem;
  color: white;
  margin-bottom: 0.8rem;
}
select {
  border: 1px solid white;
  width: max-content;
  padding: 0.8rem 0.5em;
  margin: 15px 0 0 0;
}

textarea {
  min-height: 100px;
  padding: 8px 15px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-bottom-color: #2a3084;
}
.radio-option input[type="radio"]:checked {
  background-color: #2a3084;
  border-color: #2a3084;
}

.radio-group {
  margin-top: 15px;
}

.radio-option {
  margin: 15px 0 0 15px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 5px;
}

.radio-option input[type="radio"] {
  margin: 3px 0 0 0;
  cursor: pointer;
  font: inherit;
  width: 1.55em;
  height: 1.1em;
  border-radius: 50%;
}

.radio-option label {
  line-height: 150%;
  margin: 0 0 0 10px;
  cursor: pointer;
}

/* --------------------------SUBMIT BTN-------------------------- */
.btn {
  display: block;
  width: 50%;
  margin: auto;
  padding: 1rem 0;
  border: none;
  font-size: 1.05rem;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  transition: background-color 0.3s ease;
  border-radius: 0.25em;
  color: var(--clr-bg);
  background-color: var(--darkblue);
}

/* ------------NEON EFFEECT SUBMIT BUTTON------------ */
.neon-button {
  position: relative;
  text-decoration: none;
  box-shadow: 0 0 1em 0 white, 0 0 1.5em 0 white;
  color: white;
  background-color: var(--darkblue);
}

.neon-button:hover,
.neon-button:focus {
  background-color: white;
  color: black;
}

.disabled-btn {
  background-color: #b9b9b9;
  color: #ededed;
  cursor: not-allowed;
  box-shadow: none;
}
.disabled-btn,
.disabled-btn:focus {
  background-color: #b9b9b9 !important;
  color: #ededed !important;
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */

.loading-btn {
  display: none;
}
.loading-btn:hover {
  color: white;
  background-color: var(--darkblue);
}
.dot-flashing {
  position: relative;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffffab;
  color: #ffffff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffffab;
  color: #ffffff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffffab;
  color: #ffffff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #ffffff;
  }
  50%,
  100% {
    background-color: #ffffffab;
  }
}

/* RESPONSIVE - RESPONSIVE - RESPONSIVE - RESPONSIVE */

@media (min-width: 800px) and (max-width: 1440px) and (max-height: 1130px) and (orientation: landscape) {
  .cardWrapper {
    width: 38vw;
    height: 75vh;
    /* border: 20px solid pink; */
  }
  .front .illustration img {
    max-width: 53%;
    margin: 4.5vh 0px 0 0;
  }

  .front .answer {
    margin-top: 10px;
  }
}

@media (min-width: 800px) and (max-width: 1440px) and (max-height: 800px) and (orientation: landscape) {
  .cardWrapper {
    width: 29vw;
    height: 80vh;
    max-height: 560px;
    /* border: 20px solid green; */
    position: relative;
  }
  .front .announce h6 {
    font-size: 0.9em;
  }

  .front .bride-name img {
    max-width: 100%;
    width: 66%;
    margin: 10px 0 5px 0;
  }

  .front .date {
    font-size: 1.3em;
    margin: 4vh 0 2vh 0;
  }
  .front .illustration img {
    max-width: 55%;
    margin: 8vh 20px 0 0;
  }

  .front .answer {
    position: absolute;
    bottom: 2vh;
    left: 29%;
  }
}

@media (max-width: 1024px) {
  .cardWrapper {
    width: 52vw;
    position: relative;
  }

  .front .answer {
    position: absolute;
    bottom: 0.7vh;
    left: 34%;
  }
}

@media (max-width: 912px) {
  .cardWrapper {
    width: 65vw;
    max-height: 855px;
    max-width: 1000px;
  }
  .front .announce {
    margin: 4vh 0 0 0;
  }

  .front .announce h6 {
    font-size: 1em;
  }

  .front .illustration img {
    max-width: 65%;
    margin: 2.5vh 20px 0 0;
  }
  .front .answer {
    left: 35%;
    bottom: 2vh;
  }
}

@media (max-width: 855px) {
  .cardWrapper {
    max-height: 785px;
  }
  .front .answer {
    bottom: 1.2vh;
  }
}

@media (max-width: 540px) {
  .cardWrapper {
    width: 63vw;
    margin-right: 20px;
    height: 520px;
    transform: translate(0%, -2.5%);
  }
  .front .announce h6 {
    font-size: 0.76em;
  }

  .front .bride-name img {
    max-width: 100%;
    width: 68%;
    margin: 10px 0 5px 0;
  }

  .front .date {
    font-size: 1.2em;
    margin: 3vh 0 2vh 0;
  }

  .front .illustration {
    margin: -82px 0 0px 0;
  }

  .front .illustration img {
    max-width: 70%;
  }

  .front .answer {
    left: 29%;
    bottom: 2.5vh;
  }
  .front .answer .answer-btn {
    font-size: 1em;
  }
  .front .answer img {
    width: 30px;
  }

  form {
    padding: 30px;
  }

  .header-rsvp {
    background-color: var(--darkblue);
    padding: 15px;
  }

  form textarea {
    max-width: 90%;
  }
  .radio-option input[type="radio"] {
    width: 1em !important;
    height: 1em !important;
  }

  .radio-option {
    font-size: 0.97rem;
  }
}

@media (max-width: 430px) {
  .cardWrapper {
    margin-right: 0px;
    height: 550px;
  }

  .front .announce {
    margin: 2.8vh 0 0 0;
    line-height: 1.5;
  }

  .front .announce h6 {
    font-size: 0.85em;
  }

  .front .bride-name img {
    max-width: 100%;
    width: 72%;
    margin: 10px 0 5px 0;
  }
  .front .answer {
    bottom: 1.8vh;
    left: 28%;
  }
}
@media (max-width: 375px) {
  .cardWrapper {
    height: 525px;
  }

  .front .answer {
    bottom: 2.3vh;
  }
}

@media (max-width: 360px) {
  .cardWrapper {
    height: 550px;
  }
  .front .answer {
    bottom: 2vh;
  }
}
