body {
    background-color: black;
    /* margin:20px; */
    font-family:Arial, sans-serif;
    /* position:relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border:2px solid green;
    background-image: url("./img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .cardWrapper{
    position:relative;
    /* width:200px;
    height:200px; */
    /*background-color:#333;*/
    /* float:left; */
    /* margin-right:10px; */
    width:50%;
    height:70%;
    cursor:pointer;
    margin: auto;
    transform: translate(-50%, -5%);
    /* border: 3px solid red; */
    /* -webkit-font-smoothing:antialiased; */
  }
  
  .cardFace{
    position:absolute;
    top: 50%;
    left: 50%;
    width:50vw;
    height:70vh;
    overflow:hidden;
    /* border: 3px solid yellow; */
  }

  .cardFace img {

  }
  
  .front{
    background-image: url('./img/front-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid red;
  }
  
  .back{
    /* background-color:#333;  */
    border: 3px solid rgb(38, 0, 255);
  }
  
  .cardFace h1{
    margin:0px;
    font-size:30px;
    padding:10px 0px 10px 10px;
    border-bottom:solid 6px #aaa;
    border-top:solid 6px #aaa;
    background-color:black;
    color:white;
  }
  
  
  .cardFace.back h1{
   border-color:#91e600;
  }
  
  .moreInfo{
    padding:10px;
    color:white;
    line-height:24px;
    
  }